*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  height: 100%;
  margin: 0 auto;
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.winter-inside {
  position: absolute;

  z-index: 111;
  bottom: 50px;
  right: 50px;

  color:rgba(75, 144, 191, 0.802);
  font-size: 14px;
  line-height: 16px;

  opacity: 0.5;
}
